body {
  background-color: #fff;
}
h1 {
  text-transform: capitalize;
}
h1,
h3 {
  font-family: "Abril Fatface", cursive;
  text-align: center;
}

h4,
p {
  text-align: center;
  font-family: "Unica One", cursive;
}

h5 {
  font-family: "Viga", sans-serif;
  color: white;
  font-size: 17px;
}
a {
  text-decoration: none;
  color: white;
}

.card {
  border-radius: 20px;
  box-shadow: -1px 1px 9px rgba(0, 0, 0, 0.3);
  display: block;
  height: 720px;
  margin: 20px auto;
  max-width: 450px;
  padding: 0;
  width: 100%;
}
.weather-img {
  display: inline block;
  width: 50px;
}
.wrap {
  position: relative;
  border: none;
  border-radius: 20px;
  width: 80%;
  height: 236px;
  margin: 0 auto;
  top: 20px;
  left: 15px;
  text-align: center;
  opacity: 1;

  box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.7),
    -7px -7px 20px rgba(255, 255, 255, 0.7),
    inset 0px 0px 4px rgba(255, 255, 255, 0.2),
    inset 7px 7px 15px rgba(55, 84, 170, 0),
    inset -7px -7px 20px rgba(255, 255, 255, 0),
    0px 0px 4px rgba(255, 255, 255, 0) !important;
}
.currentWeatherSummary {
  position: relative;
  margin: 0 auto;
  text-align: center;
  bottom: 0;
}
.WeatherSummary {
  position: relative;
  font-family: "Anton", sans-serif;
  top: 15px;
  font-weight: 300;
  font-size: 35px;
  color: white;
}
.current-city {
  color: white;
  margin: 0 auto;
  text-align: center;
  padding-left: 0;
  padding-top: 10px;
  width: 100%;
}
